html {
  scroll-behavior: smooth;
}
.bg-black{
    background-color: #000000;
}
.icofont-search-2{
    font-size: 1.2em;
}
body{
    margin: 0;
    padding: 0;
    
}
header{
    /* background-color: cadetblue; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.top-head{
    width: 100%;
    height: auto;
}
.top-head .nav{
    padding: 0;
    margin: 0;
}
.top-head ul > li > a{
    font-size: .9em;
    color: #939393;
}
.top-head ul > li > a:hover{
    font-size: .9em;
    color: #919476;
}
.megamenu{
    display: none;
    background-color: #000;
    width: 101em;
    position: absolute;
    left: 0;
    z-index: 100;
}
.megamenu .container{
    width: 50%;
}
.navbar-collapse ul > li{
    padding: 0px  20px;
  }
  .carousel-caption{
    /*  background-color: chartreuse;*/
      height: 300px;
      top: 350px;
  }
  .carousel-indicators{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 300px;
    height: 10px;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    justify-content: right;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 80%;
    list-style: none;
    
  }
  .carousel-indicators li{
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 100%;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
  }
  section {
    /* background-color:crimson; */
    position: relative;
    top: -50px;
    z-index: 100;
}
.demo{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.demo > .img1 >img{
    position: absolute;
    width: 64%;
    height: 700px;
    border: 1px solid white;
    
}
.demo > .img2 >img{
    position: absolute;
    
    left: 1000px;
    width: 36%;
    height: 350px;
    border: 1px solid white;
}
.demo > .img3 >img{
    position: absolute;
    top:350px;
    left: 1000px;
    width: 36%;
    height: 350px;
    border: 1px solid white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position: bottom;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #035b81;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #035b81;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #035b81;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #035b81;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color: #fdfdff;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #035b81;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #035b81;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
.blueiconcolor {
	color : blue;
}
